body{
    font-family:sans-serif;
    margin:0;
    background: #f4f4f4;
    color:#333;
}
header{
    background:#222;
    color:white;
    text-align: center;

}
section{
    padding: 20px;
    border-radius: 30px;
    margin: 15px;
    background:white;
}
h2{
    color: rgb(103, 194, 67);
}
ul{
    list-style: square;
  
}
.image{
    align-content: center;
}
    


    
    
